<!DOCTYPE html>
<html>
<head>
<title>Grocery List</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
</head>
<body>

<!-- LOGO -->
<div>
<img src="https://unsplash.com/photos/D6Tu_L3chLE.png" alt="grocery app logo">
</div>

<!-- REMOVE ITEMS FORM -->
<div id="remove_items"> <!-- Corrected: Added missing closing quotation mark -->
<form action="/remove_items" method="POST"> <!-- Corrected: Changed "from" to "form" -->
{% for item in shopping_items %}
<input type="checkbox" name="check" id="{{item}}" value="{{item}}" onchange="check_me('{{ item }}')">
<label for="{{item}}" name="{{item}}">{{ item }}</label><br> <!-- Corrected: "lable" to "label" -->
{% endfor %}
<input type="submit" value="CHECK ITEMS" id="remove_btn">
</form>
</div>

<!-- ADD ITEMS FORM -->
<div id="add_item">
<form action="/add_items" method="POST"> <!-- Corrected: Changed ":method" to "method" -->
<select name="select_items">
{% for item in all_items %}
<option value="{{ item }}">{{ item }}</option>
{% endfor %}
</select> <!-- Added missing closing tag for <select> -->
<input type="submit" value="ADD ITEM" id="add_btn"> <!-- Corrected: Changed "Value" to "value" -->
</form>
</div>

</body>
</html>
